.breadcrumb {
  padding: 0rem 1rem;
  display: flex;
}

.breadcrumb > .crumb {
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  transition: all 150ms cubic-bezier(0.2, 0, 0, 1);
  cursor: pointer;
  padding: 0.5rem;
  color: var(--on-surface-color-dimmer);
  display: flex;
  align-items: center;
  user-select: none;
}

.breadcrumb > .crumb:hover {
  background-color: var(--secondary-surface-hover-color);
}

.breadcrumb > .crumb > .separator {
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.breadcrumb > .crumb.active {
  font-weight: 500;
  color: var(--primary-color);
}