.c-body > div > div > .name {
  font-size: 32px;
  font-weight: 900;
  color: var(--on-surface-color);
  opacity: 0;
}

.c-body > div > div > .matricula {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 1rem;
  line-height: 2.375rem;
  opacity: 0;
  color: var(--on-surface-color-dim);
}

.c-body .information-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  opacity: 0;
}

.row {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 0.5rem;
}

.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  width: 50%;
}

.column.delete-column {
  align-items: stretch;
  justify-content: center;
  overflow: hidden;
  transition: all 150ms cubic-bezier(0.2, 0, 0, 1);
}

.column.delete-column > button {
  background-color: var(--secondary-surface-color);
  flex-grow: 1;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 150ms cubic-bezier(0.2, 0, 0, 1);
  border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.column.delete-column > button:hover {
  background-color: var(--error-color);
  color: var(--on-error-color);
}

.report-row.row {
  border-color: transparent;
  border-width: 1px;
  border-style: solid;
  transition: all 150ms cubic-bezier(0.2, 0, 0, 1);
  border-radius: 0.5rem 0.75rem 0.75rem 0.5rem;
}

.report-row.row:has( button:hover) {
  border-color: var(--error-color);
}

.column .data-name {
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0rem 1rem;
  font-size: 14px;
  color: var(--on-surface-color-dim);
}

.column .data-name.emergency {
  color: var(--error-color);
}

.column .value {
  text-align: end;
  padding: 0rem 1rem;
  font-size: 14px;
  color: var(--on-surface-color-dimmer);
}

.actions-container {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.actions-container .action {
  font-size: 14px;
  border: none;
  outline: none;
  font-weight: 500;
  color: var(--on-surface-color);
  background-color: var(--tertiary-surface-color);
  padding: 0.75rem 1rem;
  border-radius: 1.5rem;
  opacity: 0;
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 200ms cubic-bezier(0.2, 0, 0, 1);
}

.actions-container .action:hover {
  background-color: var(--tertiary-surface-hover-color);
}

.actions-container .action:active {
  background-color: var(--tertiary-surface-active-color);
}

@media (max-width: 500px) {

  .actions-container .action {
    padding: 0.75rem;
    border-radius: 0.75rem;
  }

  .actions-container .action .text {
    display: none;
  }
}

@media (max-width: 900px) {
  .c-body .information-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
