.table-container {
  display: flex;
  flex-direction: column;
}

.table-container .search-container {
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  opacity: 0;
}

.table-wrapper {
  margin: 0rem 0.5rem 0.5rem 0.5rem;
  padding: 0.5rem;
  opacity: 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  height: 100%;
}

.th {
  color: var(--on-tertiary-color);
  user-select: none;
  background-color: var(--secondary-surface-color);
  font-size: 14px;
  padding: 0.5rem 1rem;
  text-align: start;
}

.thead .tr :first-child.th {
  border-radius: 0.75rem 0 0 0.75rem;
  width: 3rem;
}

.thead .tr :last-child.th {
  border-radius: 0 0.75rem 0.75rem 0;
}

.tr .td {
  padding: 0.5rem 1rem;
  color: var(--on-surface-color);
  font-weight: 500;
  font-size: 14px;
}

.tr {
  transition: all 150ms cubic-bezier(0.2, 0, 0, 1);
  border-radius: 1rem;
}

.tr.selected {
  background-color: var(--tertiary-surface-color);
}

.tr.selected :first-child.td {
  border-radius: 0.75rem 0rem 0rem 0.75rem;
}

.tr.selected :last-child.td {
  border-radius: 0rem 0.75rem 0.75rem 0rem;
}

.td .info-button {
  background-color: transparent;
  color: var(--on-surface-color);
  border: none;
  outline: none;
  border-radius: 0.5rem;
  transition: all 150ms cubic-bezier(0.2, 0, 0, 1);
  cursor: pointer;
  width: 3rem;
  height: 1.5rem;
}

.td .info-button:hover {
  background-color: var(--secondary-surface-hover-color);
}

.td .active {
  background-color: var(--success-color);
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  color: var(--on-success-color);
  display: block;
  text-align: center;
  width: 60%;
  transition: all 150ms cubic-bezier(0.2, 0, 0, 1);
  user-select: none;
}

.td .inactive {
  background-color: var(--warning-color);
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  display: block;
  width: 60%;
  user-select: none;
  text-align: center;
  color: var(--on-warning-color);
}

@media (max-width: 1300px) {
  .td .inactive,
  .td .active {
    width: 100%;
  }
}

.table-container > .page-buttons {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  gap: 0.25rem;
  opacity: 0;
}

.table-container > .page-buttons > .page-button {
  height: 2rem;
  min-width: 2.5rem;
  background-color: var(--tertiary-surface-color);
  outline: none;
  border: none;
  border-radius: 0.5rem;
  color: var(--on-surface-color);
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  transition: all 150ms cubic-bezier(0.2, 0, 0, 1);
}

.table-container > .page-buttons > .page-button:hover {
  background-color: var(--tertiary-surface-hover-color);
  color: var(--primary-color);
}

.table-container > .page-buttons > .page-button:disabled {
  color: var(--on-tertiary-color);
}

.table-container > .page-buttons > .page-button:disabled:hover {
  background-color: var(--tertiary-surface-color);
  cursor: not-allowed;
}

.input.search {
  width: 50%;
}

.table .table-checkbox {
  background-color: var(--surface-color);
  width: 1rem;
  height: 1rem;
  border-radius: 0.25rem;
  outline: none;
  border: 2px solid var(--tertiary-surface-color);
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: var(--surface-color);
  transition: all 150ms cubic-bezier(0.2, 0, 0, 1);
}

.table .table-checkbox.checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--on-primary-color);
}